@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: url("../../assets/images/bg-carte.png");
  font-family: "IM Fell English SC", "Times New Roman", Times, serif;
}

.wikis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  color: #3b160d;

  &__title {
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__regions {
    position: relative;
    padding: 2rem;
    margin: 4rem 0 3rem;
    max-width: 70%;
    background-color: #f2fedc;

    &-title {
      position: absolute;
      bottom: 100%;
      left: 0;
      padding: 0.5rem 1rem;
      background-color: #f2fedc;
    }
  }

  &__others {
    padding: 2rem;
    max-width: 70%;
    background-color: #f2fedc;
    border-radius: 25px;

    &-list {
      justify-content: center;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  a {
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid #3b160d;
    color: #3b160d;
    transition: ease 0.3s;

    &:hover {
      color: #f2fedc;
      background-color: #3b160d;
    }
  }
}
