@use "../../styles/vars";

body {
  background: url("../../assets/images/bg-carte.png");
}

.wikis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  font-family: vars.$title-font;
  color: vars.$main-color;

  &__title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__section {
    padding: 2.5rem;
    margin: 3rem 0;
    max-width: 70%;
    background-color: vars.$light-bg;
    box-shadow: 0px 0px 40px 30px vars.$light-bg;

    &-title {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &-list {
      justify-content: center;
    }

    &-link {
      display: block;
      padding: 0.3rem 0.6rem;
      font-size: 1.1rem;
      color: vars.$main-color;
      border-radius: 15px;
      transition: ease 0.3s;

      &:hover {
        color: vars.$light-bg;
        background-color: vars.$main-color;
        box-shadow: 0px 0px 5px 3px vars.$main-color;
      }
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .to-home {
    position: absolute;
    top: 50%;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    color: vars.$main-color;
    transform: translateY(-50%);

    img {
      width: 40px;
      transform: rotate(180deg);
      transition: ease 0.5s;
    }

    &:hover {
      img {
        transform: translateX(10px) rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: 564px) {
  .wikis {
    text-align: center;

    &__title {
      font-size: 1.5rem;
    }

    &__section {
      max-width: 90%;

      &-title {
        font-size: 1.3rem;
      }
    }

    ul {
      flex-direction: column;
    }
  }
}
