@use "../../styles/vars";

.campaign {
    display: flex;
    flex-direction: column;
    h1 {
        align-self: center;
        margin-top: 2rem;
        font-family: vars.$title-font;
        font-size: 5rem;
        text-align: center;
        max-width: 40vw;
        @media screen and (max-width: 1500px) {
            font-size: 3rem;
            @media screen and (max-width: 430px) {
                text-align: unset;
                max-width: unset;
                margin-left: 1rem;
                @media screen and (max-width: 365px){
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .pageOne {
        display: flex;
        .sectionCarte {
            width: 40vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                transform: translateX(2rem);
            }
        }
        .sectionResume {
            width: 60vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h2 {
                font-size: 3rem;
                font-family: vars.$title-font;
                margin-bottom: 1rem;
            }
            p {
                margin: 1rem 0 2rem;
                width: 70%;
                height: 50vh;
                font-size: 1.2rem;
                overflow: auto;
            }
        }
        @media screen and (max-width: 1500px) {
            .sectionResume {
                h2 {
                    font-size: 2rem;
                }
            }
            @media screen and (max-width: 900px) {
                align-items: center;
                justify-content: center;
                .sectionCarte {
                    display: none;
                }
                .sectionResume {
                    width: 90%;
                }
                @media screen and (max-width: 430px) {
                    .sectionResume{
                        justify-content: unset;
                        height: unset;
                        p{
                            height: unset;
                            width: 100%;
                            max-height: 40vh;
                        }
                    }
                    @media screen and (max-width: 365px) {
                        .sectionResume {
                            h2 {
                                font-size: 1.5rem;
                                margin-bottom: 0;
                                text-decoration: underline;
                            }
                            p {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .pageTwo {
        position: relative;
        width: 100vw;
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 4rem;
            font-family: vars.$title-font;
            margin-bottom: 1rem;
            transform: translate(2rem, 2rem);
            text-decoration: underline;
            @media screen and (max-width: 365px) {
                font-size: 3rem;
            }
        }
        .bg2 {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 135vh;
            width: 100vw;
            z-index: -1;
            @media screen and (max-width: 430px) {
                height: 120%;
                width: auto;
            }
        }
        .allNotes {
            margin-top: 20vh;
            display: flex;
            h3 {
                position: absolute;
                font-size: 3rem;
                font-family: vars.$title-font;
                align-self: flex-start;
                transform: translateY(-7vh);
                text-decoration: underline;
            }
            .noteContainer {
                position: relative;
                width: 40%;
                max-width: 12vw;
                transition: transform .5s;
                border: none;
                background-color: rgba(0, 0, 0, 0);
                img {
                    width: 100%;
                    opacity: .9;
                }
                h4 {
                    font-family: vars.$title-font;
                    font-size: 1.5rem;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%)
                }
            }
            .noteContainer:hover{
                transform: scale(1.05);
            }
            .notesPrivees, .notesPubliques, .imageDiscord {
                margin-left: 3vw;
                height: 60vh;
                width: 30vw;
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                align-items: center;
                overflow-y: auto;
                border-right: 5px solid #3B2D19;
                
                .discordImg {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .imageDiscord {
                margin-left: 1.5vw;
                border: none;
                align-content: unset;
                h3 {
                    margin-left: 1.5vw;
                }
            }
            @media screen and (max-width: 430px) {
                flex-direction: column-reverse;
                .notesPrivees, .notesPubliques, .imageDiscord {
                    border: none;
                    height: 30vh;
                    width: 90vw;
                    flex-direction: column;
                    margin-bottom: 4rem;
                    align-content: center;
                    overflow-y: auto;
                }
                .notesPrivees {
                    margin-bottom: 0;
                }
                .noteContainer {
                    width: 35vw;
                    max-width: unset;
                    img {
                        width: 100%;
                        opacity: .9;
                    }
                    h4 {
                        font-size: 1.25rem;
                    }
                }
                .imageDiscord {
                    h3 {
                        align-self: center;
                    }
                }
                @media screen and (max-width: 365px) {
                    .notesPrivees, .notesPubliques, .imageDiscord {
                        h3 {
                            font-size: 2.5rem;
                        }
                    }
                    .imageDiscord {
                        h3 {
                            transform: translateY(-8vh);
                        }
                    }
                    .noteContainer {
                        h4 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .addNote {
            width: 30vw;
            align-self: center;
            margin-top: 3rem;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            font-family: vars.$title-font;
            font-size: 2rem;
        }
        .addNote:hover {
            text-decoration: underline;
        }
        @media screen and (max-width: 430px) {
            .addNote {
                margin-top: 0;
                width: unset;
                margin-bottom: 1.5rem;
                @media screen and (max-width: 365px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
}