.menu, .menuMobileToggle {
    position: fixed;
    top: 2vh;
    right: .4vw;
    z-index: 12;
}
.menuMobile {
    display: none;
}
.cursorPointer {
    cursor: pointer;
}
.menuImg, .menu {
    width: 20vw;
}
.noDisplay {
    opacity: 0%;
}
.inactive {
    display: none;
}
.navLinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);

    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.links {
    font-family: 'IM Fell English SC', serif;
    font-size: 1.6vw;
    text-align: center;
    color: #470703;
    z-index: 20;
}
.selected {
    cursor: default;
}
.selected::after {
    margin-left: 10px;
    content: "";
    width: 1.8vw;
    height: 1.48vw;
    background-image: url(../../assets/images/quill-resized.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

@media screen and (max-width: 1200px) {
    .wikis {
        transition: all 1s;
    }
    .menu {
        display: none;
    }
    .menuMobile {
        display: block;
        transition: all 2s;
    }
    .selected::after {
        content: unset;
    }
    .navLinksMobile {
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -40%);
        z-index: 100;
        text-align: center;
        display: flex;
        flex-direction: column;
        // transition: opacity 1s;

        &__img {
            position: absolute;
            top: 50vh;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 50;
            width: 60vw;
            // transition: opacity 1s, box-shadow 1s, background-color 1s;
        }
    }
    .links {
        font-size: 8vw;
        margin-bottom: 1rem;
        // transition: all 1s;
    }
    .menuMobileToggle {
        display: flex;
        flex-direction: column;
        // transition: box-shadow 1s, background-color 1s;
        width: 15vw;
        z-index: 80;

        &__barreDessus,
        &__barreDessous {
            transition: transform 1s;
        }

        .openedDessus {
            transform: translateY(50%)  rotate(227.5deg);
            filter: brightness(2.5);
        }

        .openedDessous {
            transform: translateY(-50%)  rotate(132.5deg) translateY(-10%);
            filter: brightness(2.5);
        }
    }
    .boxShadow::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba( 0, 0, 0, 0.8);
        z-index: 50;
    }
    .displayNone {
        z-index: -100;
        opacity: 0;
    }

    @media (orientation: landscape) {
        @media screen and (max-height: 500px) {
            .navLinksMobile__img {
                width: unset;
                height: 90vh;
            }
            .links {
                font-size: 8vh;
            }
            .menuMobileToggle {
                margin-top: 5vh;
                width: 15vh;
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .navLinksMobile__img {
        width: 100vw;
    }
}
