.menu, .menuMobile {
    position: absolute;
    top: 2vh;
    right: .4vw;
    z-index: 12;
    transition: transform 3s;
}
.menuMobile {
    display: none;
    
    img {
        width: 15vw;
    }
}
.cursorPointer {
    cursor: pointer;
}
.menuImg, .menu {
    width: 20vw;
}
.noDisplay {
    opacity: 0%;
}
.inactive {
    display: none;
}
.navLinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);

    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.links {
    font-family: 'IM Fell English SC', serif;
    font-size: 1.6vw;
    color: #470703;
    z-index: 20;
}
.selected {
    cursor: default;
}
.selected::after {
    margin-left: 10px;
    content: "";
    width: 1.8vw;
    height: 1.48vw;
    background-image: url(./images/quill-resized.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

@media screen and (max-width: 650px) {
    .menu {
        display: none;
    }
    .menuMobile {
        display: block;
    }
    .menuMobileImg {
        display: flex;
        flex-direction: column;

        &__barreDessus {
            transition: transform 1s;
        }

        &__barreDessous {
            transition: transform 1s;
        }

        .openedDessus {
            transform: translateY(50%)  rotate(227.5deg);
        }

        .openedDessous {
            transform: translateY(-50%)  rotate(132.5deg) translateY(-10%);
        }
    }
}
