.menu {
    position: absolute;
    top: 2vh;
    right: .4vw;
    z-index: 12;
    transition: transform 3s;
}
.menuImg, .menu {
    width: 20vw;
}
.noDisplay {
    opacity: 0%;
}
.inactive {
    display: none;
}
.navLinks {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);

    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.links {
    font-family: 'IM Fell English SC', serif;
    font-size: 1.6vw;
    color: #470703;
    // text-shadow: 0px 0px 2px black;
    z-index: 20;
}
.selected {
    cursor: default;
}
// .selected::before {
//     position: absolute;
//     right: 95%;
//     transform: translateY(-25%);
//     content: "";
//     // background-color: #fff;
//     width: 40px;
//     height: 34px;
//     background-image: url(./images/quill-resized-inversed.png);
//     background-size: contain;
//     background-repeat: no-repeat;
// }
.selected::after {
    margin-left: 10px;
    content: url(./images/quill-resized.png);
}
