@use "../../styles/vars";

.wiki {
  position: relative;
  top: 4rem;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  color: vars.$main-color;
  // background-color: vars.$light-bg;
  // box-shadow: 0px 0px 40px 30px vars.$light-bg;

  &__select {
    display: none;
    padding: 0.3rem;
    font-family: vars.$title-font;
    color: vars.$main-color;
    border: 2px solid vars.$main-color;
    border-radius: 5px;
    background-color: vars.$ligther-bg;
    outline: none;
  }

  &__title {
    margin: 1.5rem 0 3rem;
    font-family: vars.$title-font;
    text-transform: uppercase;
    font-size: 4rem;
  }

  &__page {
    background-color: rgba(0, 0, 0, .5);
    border: double 1rem #63412a;
    color: #C8AD7F;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 4rem;
    width: 100%;
    font-size: 1.2rem;
  }

  &__category {
    margin-bottom: 2.5rem;
    white-space: pre-wrap;
    line-height: 1.4;

    &-titleItem {
      position: relative;
      margin: 5rem;
      width: 20vw;
      height: 10vh;
    }

    &-titleImage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: vars.$title-font;
      color: vars.$main-color;
      font-size: 2rem;
    }
  }

  .category-container {
    flex: 85%;
    margin-bottom: 30rem;
  }

  .links-container {
    position: fixed;
    top: 60%;
    transform: translateY(-50%);
    right: 5px;
    height: 50vh;
    text-align: end;

    li {
      margin-bottom: 5rem;
    }

    .categorySelector {
      color: vars.$main-color;
      font-size: 2rem;
      margin-bottom: 5rem;
      cursor: pointer;
    }

    .categorySelector::after {
      position: relative;
      top: 8px;
      content: url(../../assets/images/circle.png);
    }

    .active::after {
      position: relative;
      top: 8px;
      content: url(../../assets/images/tickedCircle.png);
    }
  }

  .to-wiki {
    position: fixed;
    top: 50%;
    left: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.3rem;
    color: vars.$main-color;

    img {
      width: 40px;
      transition: ease 0.5s;
    }

    &:hover {
      img {
        transform: translateX(-10px);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wiki {
    .to-wiki {
      position: relative;
      margin-bottom: 1.5rem;
      font-size: 1.1rem;

      img {
        width: 20px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .wiki {
    text-align: center;

    &__title {
      margin-bottom: 1.7rem;
      font-size: 1.5rem;
    }

    &__select {
      display: block;
      margin-bottom: 1.7rem;
    }

    &__page {
      padding: 0 1rem;
    }

    &__category {
      &-title {
        font-size: 1.3rem;
      }

      &-content {
        text-align: left;
      }
    }

    .links-container {
      display: none;
    }
  }
}
