@use "../../styles/vars";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  z-index: 1000;
}

.connection {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba( 0, 0, 0, 0.8);
  padding: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #C8AD7F;
  border: solid .5rem #63412a;
  height: 50vh;

  &__form, .form-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

  h2 {
    font-family: vars.$title-font;
    font-size: 3rem;
  }
}

.error {
  color: red;
}
